[submodule "psxrecomp"]
	path = psxrecomp
	url = https://github.com/FractalEngineer/psxrecomp.git
	branch = feat/vr-desktop-mirror
[submodule "recomp-ui"]
	path = recomp-ui
	url = https://github.com/RetroPortingToolKit/recomp-ui.git
	branch = master
